<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="serialPort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <serialPort.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DatatextBox1" serializeAs="String">
                <value />
            </setting>
            <setting name="DatatextBox2" serializeAs="String">
                <value />
            </setting>
            <setting name="DatatextBox3" serializeAs="String">
                <value />
            </setting>
            <setting name="DatatextBox4" serializeAs="String">
                <value />
            </setting>
            <setting name="t1" serializeAs="String">
                <value />
            </setting>
            <setting name="t2" serializeAs="String">
                <value />
            </setting>
            <setting name="t3" serializeAs="String">
                <value />
            </setting>
            <setting name="t4" serializeAs="String">
                <value />
            </setting>
            <setting name="textSend" serializeAs="String">
                <value />
            </setting>
        </serialPort.Properties.Settings>
    </userSettings>
</configuration>